<launch>
  <arg name="numberOfCameras" default="6" />
  <arg name="cameraConfigFile" default="/media/camera/calibration.yaml" />

  <!-- camera node -->
  <node pkg="uvc_ros_driver" name="uvc_camera" type="uvc_ros_driver_node" output="screen">
    <param name="numberOfCameras" type="int"  value="$(arg numberOfCameras)" />
    <param name="depthMap" type="bool"  value="false" />
  </node>

</launch>
